*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --isabelline: #F4F3EE;
    --eerie-black-light: #232323;
    --eerie-black-dark: #181818;
    --keppel: #16BBA0;
    --cerulean: #008EAD;
    --eerie-black-extra-dark: #121212;
    --cerulean-dark: #00576B;
    --cerulean-extra-dark: #004757;
    --link-color: #7888FF;
    --eerie-black-light-half: rgba(35, 35, 35, 0.5);
}

body {
    background-color: var(--eerie-black-extra-dark);
    color: var(--isabelline);
}

a {
    color: var(--link-color);
}

header * {
    display: inline-flex;
    height: 44px;
}

header a, header p {
    font-size: 14px;
    padding: 15px;
    align-items: center;
}

header a {
    color: var(--isabelline);
    text-decoration: none;
    transition: color .1s;
}

header a:hover {
    color: var(--keppel);
}

header a[aria-current="page"] {
    color: var(--cerulean);
}

header svg, header p {
    vertical-align: middle;
    width: auto;
}

header p {
    color: var(--keppel) /* Animation? */
}

header p {
    background: linear-gradient(
        90deg,
        #7888FF 0%,
        #16BBA0 16.6%,
        #7888FF 33.3%,
        #16BBA0 50%,
        #7888FF 66.6%,
        #16BBA0 83.3%,
        #7888FF 100%    /* matches 0% */
    );
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: ripple 20s ease-in-out infinite;
}

@keyframes ripple {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}