*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --isabelline: #F4F3EE;
    --eerie-black-light: #232323;
    --eerie-black-dark: #181818;
    --keppel: #16BBA0;
    --cerulean: #008EAD;
    --eerie-black-extra-dark: #121212;
    --cerulean-dark: #00576B;
    --cerulean-extra-dark: #004757;
    --link-color: #7888FF;
    --eerie-black-light-half: rgba(35, 35, 35, 0.5);
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    background-color: var(--eerie-black-extra-dark);
    color: var(--isabelline);
    display: flex;
    flex-direction: column;
}

h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
p { font-size: 12px; }

a {
    color: var(--link-color);
}

img {
    width: 100%;
    border-radius: 0.3125rem;
    object-fit: cover;
}

/* ======== HEADER ======== */

header {
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    overflow: hidden;
    background: linear-gradient(
        0deg,
        rgba(18, 18, 18, 0) 0%,
        rgba(18, 18, 18, 0.7) 50%,
        rgba(18, 18, 18, 0.9) 90%,
        rgba(18, 18, 18, 1) 100%
    );
}

header *, header img {
    display: inline-flex;
    height: 44px;
}

header img, footer img {
    width: auto;
}

header a, header p {
    font-size: 14px;
    padding: 15px;
    align-items: center;
}

header a {
    color: var(--isabelline);
    text-decoration: none;
    transition: color .1s;
}

header a:hover { color: var(--keppel); }
header a:active { color: var(--cerulean-dark); }
header a[aria-current="page"] { color: var(--cerulean); }

header img, header p {
    vertical-align: middle;
}

header p {
    background: linear-gradient(
        90deg,
        #7888FF 0%,
        #16BBA0 16.6%,
        #7888FF 33.3%,
        #16BBA0 50%,
        #7888FF 66.6%,
        #16BBA0 83.3%,
        #7888FF 100%
    );
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: ripple 20s ease-in-out infinite;
}

@keyframes ripple {
    0%   { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

#menu-btn {
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

/* ======== MAIN ======== */

main {
  display: grid;
  grid-template-columns: 15% repeat(10, 1fr) 15%;
  padding-top: 2.75rem; /* 44px */
  padding-bottom: 0.625rem; /* 10px */
  gap: 1rem;
  flex: 1;
}

main > * {
  grid-column: 2 / 12;
}

/* Section rows for future content blocks */
main > section {
    display: flex;
    flex-direction: row;
}

main > .reverse {
    flex-direction: row-reverse;
}

main > .full {
    flex-direction: column;
    width: 100%;
}

main > section > * {
    width: 50%;
    padding: 3em;
}

main > .full > * {
    width: 100%;
    padding: 1em;
    text-align: center;
}

/* ======== FOOTER ======== */

footer {
    display: flex;
    align-items: center;
    height: 44px;
    background-color: var(--eerie-black-light);
    border-top: 1px solid var(--isabelline);
    overflow: hidden;
    position: relative;
}

footer > section {
    display: flex;
    align-items: center;
    height: 100%;
}

/* Socials (first section) */
footer > section:first-child {
    flex: 0 0 auto;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer a, footer img {
    height: 44px;
}

footer img {
    padding: 6px;
    cursor: pointer;
}

/* Copyright (middle section) */
footer > section:nth-child(2) {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 0.4em;
}

footer > section:nth-child(2) p {
    font-size: 0.75rem;
    text-align: center;
}

footer > section:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* ======== RESPONSIVE ======== */

@media (max-width: 1600px) {
    main > section > * {
        padding: 2em;
    }
}

@media (max-width: 1080px) {
    main {
        grid-template-columns: 10% repeat(10, 1fr) 10%;
    }

    main > section > * {
        padding: 1em;
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 5% repeat(10, 1fr) 5%;
    }

    main > section > * {
        padding: .5em;
    }

    header p {
        display: none;
    }
}

@media (max-width: 480px) {
    header, header nav {
        transition: max-height .3s ease-in-out;
    }

    header {
        background-color: var(--eerie-black-extra-dark);
        max-height: 2.75rem;
        border-bottom: 1px solid var(--isabelline);
    }

    header nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(44px * 4);
        max-height: 0;
        overflow: hidden;
    }

    header a {
        display: flex;
        width: 100%;
        padding: 15px;
        justify-content: center;
    }

    header a:hover {
        color: var(--isabelline);
    }

    header a:active {
        text-decoration: underline;
        color: var(--isabelline);
    }

    /* Open state */
    header:has(#menu-btn:checked), header:has(#menu-btn:checked) nav {
        max-height: calc(44px * 5);
    }

    main {
        grid-template-columns: 2% repeat(10, 1fr) 2%;
        gap: 0;
    }

    main section,
    main .reverse {
        flex-direction: column;
    }

    main > section > * {
        width: 100%;
        margin-top: 0.625rem;
    }

    /* Mobile menu icon (add when you implement hamburger) */
    .menu-icon {
        display: inline-block;
        position: absolute;
        height: 2.75rem;
        right: 0;
        width: 2.75rem;
        vertical-align: middle;
    }

    .menu-icon > span {
        position: absolute;
        left: 0.1875rem;
        width: 2.375rem;
        height: 0.25rem;
        border-radius: 0.125rem;
        background-color: var(--isabelline);
        transition: all .1s ease-in-out;
    }

    .menu-icon > span:nth-child(1) { top: 0.5rem; }
    .menu-icon > span:nth-child(2) { top: 1.25rem; }
    .menu-icon > span:nth-child(3) { top: 2rem; }

    header:has(#menu-btn:checked) .menu-icon > span:nth-child(1) { top: 1.25rem; transform: rotate(45deg); }
    header:has(#menu-btn:checked) .menu-icon > span:nth-child(2) { opacity: 0; }
    header:has(#menu-btn:checked) .menu-icon > span:nth-child(3) { top: 1.25rem; transform: rotate(-45deg); }
}

.line {
  grid-column: 3 / 11;
  height: 0.1875rem;
  margin: 0.625rem 0;
  background-color: var(--isabelline);
  box-shadow: 0 0 0.0625rem var(--isabelline);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.line > p {
  background-color: var(--eerie-black-extra-dark);
  padding: 0 0.3125rem;
}

#about ul {
  padding: 0;
}

#about li {
  list-style-type: none;
  font-size: 1.2em;
  padding: 10px;
}

#rel-ex h2 {
  width: 100%;
  text-align: center;
  margin: .5em 0;
}

#rel-ex ul {
  position: relative;
  width: 65%;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 768px) {
  #rel-ex ul {
    width: 85%;
  }
}

@media (max-width: 480px) {
  #rel-ex ul {
    width: 100%;
  }
}

#rel-ex ul::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--keppel);
  transform: translateX(-50%);
  z-index: 1;
}

#rel-ex li {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em 0;
  z-index: 2;
}

#rel-ex li::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: .8em;
  height: .8em;
  background: var(--cerulean);
  border-radius: 50%;
  z-index: 3;
}

#rel-ex ul :nth-child(odd) {
  flex-direction: row-reverse;
}

#rel-ex ul :nth-child(even) {
  flex-direction: row;
}

#rel-ex li :nth-child(1) {
  color: var(--keppel);
}

#rel-ex li > p {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rel-ex ul > :nth-child(even) > :nth-child(1) {
  justify-content: right;
  text-align: right;
  margin-right: 2em;
}

#rel-ex ul > :nth-child(odd) > :nth-child(1) {
  justify-content: left;
  text-align: left;
  margin-left: 2em;
}

#rel-ex ul > .arrow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.arrow :nth-child(1) {
  width: 2px;
  height: 1em;
  background-color: var(--keppel);
}

.arrow :nth-child(2),
.arrow :nth-child(3) {
  width: .75em;
  height: 2px;
  background-color: var(--keppel);
  position: absolute;
  top: -2px;
}

.arrow :nth-child(2) {
  transform: rotate(-45deg);
  transform-origin: top right;
  right: 100%;
}

.arrow :nth-child(3) {
  transform: rotate(45deg);
  transform-origin: top left;
  left: 100%;
}